{% extends "main.html" %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/news.css') }}">
</head>

<body>
    <main class="main columns">
      <section class="column main-column">
          {% for obj in main_columns %}
            <a class="article first-article" href="{{ url_for('main.page_post',post_id= obj['id']) }}">
              <figure class="article-image is-4by3">
                <img src="{{ url_for('static',filename=obj['image_path']) }}" alt="">
              </figure>
              <div class="article-body">
                <h2 class="article-title">
                  {{ obj['title'] }}
                </h2>
                <p class="article-content">
                  {{ obj['body'] }}
                </p>
                <footer class="article-info">
                  <span>Автор: {{ obj['author'] }}</span>
                  <span>Дата публикации: {{ obj['date'] }}</span>
                </footer>
              </div>
            </a>
          {% endfor %}
      </section>

      <section class="column">
          {% for obj in right_columns %}
            <a class="article" href="{{ url_for('main.page_post',post_id= obj['id']) }}">
                {% if loop.index == 1 %}
              <figure class="article-image is-3by2">
                <img src="{{ url_for('static',filename=obj.image_path) }}" alt="">
              </figure>
                {% endif %}
              <div class="article-body">
                <h2 class="article-title">
                  {{ obj['title'] }}
                </h2>
                <p class="article-content">
                  {{ obj['body'] }}
                </p>
                <footer class="article-info">
                  <span>Автор: {{ obj['author'] }}</span>
                  <span>Дата публикации: {{ obj['date'] }}</span>
                </footer>
              </div>
            </a>
          {% endfor %}
      </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
{% endblock %}